.App {
  text-align: center;
  background-color: #ffffff;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-question {
  background-color:#ffffff;
}

.App-listing {
  background-color:#EBF6FF; 
}

.App-link {
  color: #EBF6FF;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
